@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@theme {
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-display;
  }
}
